.limit-card-height {
    & .lng-prev {
        max-height: 65vh;
    }
    & .editor-container {
        max-height: 65vh;
    }
}

.single-column {
    --node-gap: 30px;

    & .group {
        background-color: transparent;
        margin-bottom: 0;
    }

    & .group-has-active-child {
        margin-bottom: 0;
    }

    & .active-parent-bridge-right {
        display: none;
    }

    & .active-parent-bridge-left {
        display: none;
    }
    & .active-node-bridge {
        display: none;
    }

    & .active-node {
        outline: 6px solid var(--background-active-parent) !important;
    }

    & .group-has-active-node {
        & .inactive-node {
            background-color: var(--background-active-parent);
            opacity: 0.8;
        }
        & .inactive-node:hover {
            background-color: var(--background-active-parent);
            opacity: 0.8;
        }
    }

    & .column{
        /* to show outline card buttons*/
        padding-left: 50px;
    }

    & .hidden-node {
        display: none !important;
    }
}

.gap-between-cards {
    --node-gap: var(--node-gap-setting);
    & .columns {
        gap: var(--node-gap-setting);
    }

    .group-has-active-child {
        margin-bottom: 0;
    }

    & .group {
        margin-bottom: var(--node-gap-setting);
        background-color: transparent;
    }

    & .active-parent-bridge-right {
        display: none;
    }

    & .active-parent-bridge-left {
        display: none;
    }

    & .active-node-bridge {
        display: none;
    }

    & .active-node {
        outline: 6px solid var(--background-active-parent) !important;
    }
}


/* to prevent cards from wobbling when hovering over them */
#columns-container.zoom-enabled {
    * {
        transition: none !important;
    }
}


