#columns-container {
    --opacity-05: 0.5;
    --opacity-08: 0.8;
    --opacity-03: 0.3;
}

.lineage-card:hover .lineage-floating-button {
    opacity: var(--opacity-03);
}

.lineage-card.active-sibling:hover .lineage-floating-button {
    opacity: var(--opacity-05);
}
.lineage-card.active-parent:hover .lineage-floating-button {
    opacity: var(--opacity-05);
}

.group-has-active-node {
    /*for single column mode*/
    & .lineage-card.inactive-node:hover .lineage-floating-button {
        opacity: var(--opacity-05);
    }
}

& .lineage-floating-button:not(.is-disabled):hover {
    opacity: var(--opacity-08);
}

& .tree-index:hover {
    opacity: var(--opacity-08);
}

