.lineage-card:hover .lineage-floating-button {
    opacity: 0.3;
}

.lineage-card.active-sibling:hover .lineage-floating-button {
    opacity: 0.5;
}
.lineage-card.active-parent:hover .lineage-floating-button {
    opacity: 0.5;
}
