.lineage-main {
    --lineage-accent: #55b1ae;
    --lineage-color-selection: #418cff;
}
.theme-dark {
    --background-container: #373d4c;
    --background-active-node: var(--background-primary);
    --background-active-parent: #5b637a;
    --color-active-parent: var(--text-normal);
    --lineage-accent-faint: #628c8c;
    --lineage-color-selection-faint: #567aab;
}
.theme-light {
    --background-container: #899cb3;
    --background-active-node: var(--background-primary);
    --background-active-parent: #cedbeb;
    --color-active-parent: var(--text-normal);
    --lineage-accent-faint: #adccca;
    --lineage-color-selection-faint: #8eaedf;
}

/* node */

.active-node,
.active-child {
    background-color: var(--background-active-node);
    color: var(--text-normal);
}

.active-child:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.active-parent {
    background-color: var(--background-active-parent);
    --text-normal: var(--color-active-parent);
    opacity: 0.8;
}
.active-sibling {
    background-color: var(--background-active-parent);
    --text-normal: var(--color-active-parent);
    opacity: 0.8;
    --scrollbar-thumb-bg: var(--text-muted) !important;
    --scrollbar-active-thumb-bg: var(--text-normal) !important;
}

.inactive-node {
    opacity: var(--inactive-card-opacity);
    background-color: var(--background-active-parent);
    --text-normal: var(--color-active-parent);
}
.inactive-node:hover {
    opacity: 0.8;
    transition: opacity 100ms ease;
}
.group {
    transition: opacity 100ms ease;
}
/* group */
.group:not([id^='group-r']):hover {
    & .inactive-node {
        opacity: 0.4;
    }
    .inactive-node:hover {
        opacity: 0.8;
    }
}
.group-has-active-child {
    background-color: var(--background-active-node);
}

.group-has-active-node {
    background-color: var(--background-active-parent);
    /*for single column mode*/
    & .inactive-node {
        background-color: var(--background-active-parent);
        opacity: 0.8;
    }
    & .inactive-node:hover {
        background-color: var(--background-active-parent);
        opacity: 0.8;
    }
}
/* hotkeys */
.theme-light {
    --custom-hotkey-bg: #a0c6dd;
}

.theme-dark {
    --custom-hotkey-bg: #5f7f93;
}

.node-border--active {
    border-left: 5px var(--lineage-accent) solid;
}
.node-border--editing {
    border-left: 5px var(--color-base-70) solid;
}
.node-border--discard {
    border-left: 5px #ff3b3b solid;
}

.node-border--delete {
    border-left: 5px #ff7b4d solid;
}
.node-border--selected {
    border-left: 5px var(--lineage-color-selection) solid;
}
.node-border--search-match {
    border-left: 5px #ffc857 solid;
}

.lineage-view:not(:focus-within) {
    & .node-border--active {
        border-left-color: var(--lineage-accent-faint);
    }
    & .node-border--editing {
        border-left-color: var(--color-base-40);
    }
    & .node-border--discard {
        border-left-color: #e8314660;
    }
    & .node-border--selected {
        border-left-color: var(--lineage-color-selection-faint);
    }
}

.lineage-card {
    transition: box-shadow 200ms ease;
}

.lineage-card:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.theme-dark {
    .lineage-card.active-node,
    .lineage-card.active-child:hover {
        box-shadow: 0 0 6px rgba(255, 255, 255, 0.15);
    }
}
